body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4; */
  backgroung-color: red;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgb(0, 140, 255);
  color: white;
  padding: 10px 0;
  text-align: center;
}

.div1 {
  /* background-color: #000; */

}

nav {
  background-color: rgb(98, 255, 164);
  padding: 2rem;
  border-radius: 30px;
  margin: 20px;
  text-align: center;
}

nav a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(255, 248, 248);
  padding: 5px;
  border-radius: 1rem;
  margin: 0 15px;
  color: #000;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);

}

.container {
  background-color: aqua;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.product {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* height: auto; */
  width: calc(33% - 60px);
  /* -webkit-box-direction: reverse; */

}

img {
  margin: auto; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
}


.product img {
  width: 100%;
  height: auto;
  border-radius: 3.5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  width: 100%;
  bottom: 0;
}
